<div class="dashboard-container">
  <h1>Dashboard</h1>
    <button style="position: fixed;right: 20px;top:20px" (click)="logout()">Logout</button>
  <div *ngIf="error" class="error-message">
    {{ error }}
  </div>

  <div *ngIf="isLoading" class="loading-spinner">
    Loading dashboard...
  </div>

  <div *ngIf="!isLoading && !error" class="stats-grid">
    <div class="stat-card" (click)="navigateToEvents()">
      <div class="stat-icon">
        <i class="fas fa-calendar"></i>
      </div>
      <div class="stat-content">
        <h2>Total Events</h2>
        <p class="stat-number">{{ stats.totalEvents }}</p>
      </div>
    </div>

    <div class="stat-card">
      <div class="stat-icon">
        <i class="fas fa-users"></i>
      </div>
      <div class="stat-content">
        <h2>Total Attendees</h2>
        <p class="stat-number">{{ stats.totalAttendees }}</p>
        <button (click)="addAttendees()">+ Add Attendees</button>
      </div>
    </div>
  </div>
 
</div>
