<div class="dashboard-container">
  <h1>Dashboard</h1>
    <button style="position: fixed;right: 20px;top:20px; background: #f87a13;border: none;padding: 10px 20px;color: white;cursor: pointer; " (click)="logout()">
      <span style="cursor: pointer;color: rgb(255, 255, 255);">
        <i class="fas fa-sign-out-alt"></i>
      </span>Logout
    </button>

  <div *ngIf="error" class="error-message">
    {{ error }}
  </div>

  <div *ngIf="isLoading" class="loading-spinner">
    Loading dashboard...
  </div>

  <div *ngIf="!isLoading && !error" class="stats-grid">
    <div class="stat-card" (click)="navigateToEvents()">
      <div class="stat-icon">
        <i class="fas fa-calendar"></i>
      </div>
      <div class="stat-content">
        <h2>Total Events</h2>
        <p class="stat-number">{{ stats.totalEvents }}</p>
      </div>
    </div>

    <div class="stat-card">
      <div class="stat-icon">
        <i class="fas fa-users"></i>
      </div>
      <div class="stat-content">
        <h2>Total Attendees</h2>
        <p class="stat-number">{{ stats.totalAttendees }}</p>
        <button style="background: #007bff;border: none;padding: 10px 20px;color: white;cursor: pointer;" (click)="addAttendees()">+ Add Attendees</button>
      </div>
    </div>
  </div>

  <div *ngIf="nearestUpcomingEvent" class="nearest-event">
    <h2>Upcoming Event</h2>
    <div class="event-card">
      <h3>{{ nearestUpcomingEvent.name }}</h3>
      <p>{{ formatDate(nearestUpcomingEvent.date) }}</p>
    </div>
  </div>
</div>
